{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	{% if user.is_anonymous == False%}
		<h1 class="text-center">Welcome {{user.first_name}} {{user.last_name}}!</h1>

		<h3 class="text-center">My Task</h3>
		{% if not todoitem_list %}
       		 <p class="text-center">No tasks have been created.</p>
   		{% else %}
		<ul class="text-center list-unstyled ">
			{% for todoitem in todoitem_list %}
				<li class="border p-2 col-2 mx-auto">
					<a class="text-decoration-none text-dark" href="{% url 'todolist:viewtodoitem' todoitem.id %}">{{todoitem.task_name}}</a>
				</li>
			{% endfor %}
		</ul>
		{% endif %}
		<h3 class="text-center">My Event</h3>
		{% if not eventitem_list %}
			<p class="text-center">No task have been created</p>
		{% else %}
		<ul class="text-center list-unstyled">
			{% for eventitem in eventitem_list %}
				<li class="border p-2 col-2 mx-auto">
					<a class="text-decoration-none text-dark" href="{% url 'todolist:vieweventitem' eventitem.id %}">{{eventitem.event_name}}</a>
				</li>
			{% endfor %}
		</ul>
		{% endif %}
	{% elif user.is_anonymous == True %}
		<h1>You are not authorized to access this page.</h1>
		<p>Kindly login <a href="login">here</a></p>
		
	{% else %}
		<h1 class="text-center">Welcome {{user.first_name}} {{user.last_name}}!</h1>
		<h3 class="text-center">My Task</h3>
		<p class="text-center">No Events have been created</p>
		<h3 class="text-center">My Event</h3>
		<p class="text-center">No Events have been created</p>

	{% endif %}

{% endblock %}