{% extends 'base.html' %}

{% block title %}register{% endblock %}

{% block content %}
{% if user.is_anonymous == True %}
<div class="container">
	<div class="row">
		<div class="col-6 offset-3">
			<h1 class="text-center my-3">Register</h1>
			{% if error == True %}
			    <p class="text-danger">Duplicate user found!</p>
			{% elif password_mismatched == True %}
			    <p class="text-danger">Password mismatched! Please register again.</p>
			{% elif is_form_invalid == True %}
			    <p class="text-danger">Invalid Email! Please register again.</p>
			{% endif %}

			<form action="{% url 'todolist:register' %}" method="post">
				{% csrf_token %}

				<div class="mb-3">
					   <label for="user_name" class="form-label">User Name:</label>
					   <input type="text" class="form-control" id="user_name" name="user_name"  value="{{ user_name }}" maxlength="50" required>
						</div>		

				<div class="mb-3">
					  <label for="user_fname" class="form-label">First Name:</label>
					  <input class="form-control" id="user_fname"  name="user_fname" value="{{ user_fname }}" required></input>
				</div>

				<div class="mb-3">
					  <label for="user_lname" class="form-label">Last Name:</label>
					  <input type="text" class="form-control" id="user_lname"  name="user_lname"  value="{{ user_lname }}" maxlength="50" required>
				</div>

				<div class="mb-3">
					  <label for="email" class="form-label">Email:</label>
					  <input class="form-control" id="email" name="email"  value="{{ email }}" required></input>
				</div>

				<div class="mb-3">
					  <label for="password" class="form-label">Password:</label>
					  <input type="password" class="form-control" id="password"  name="password"  maxlength="50" required>
				</div>

	 			<div class="mb-3">
					  <label for="con_password" class="form-label">Confirm Password:</label>
					  <input type="password" class="form-control" id="con_password" name="con_password" maxlength="50" required>
				</div> 

				<div class="mb-3">
					  <input class="btn btn-success" type="submit" value="Register">
				</div>
		</div>
	</div>
</div>

		{% else %}
			<h1 class="tex-center my-3">You are not authorized to access this page.</h1>
			<p class="">Go back to home <a href="{% url 'todolist:index' %}">here</a></p>

		{% endif %}

{% endblock %}