{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}

{% if user.is_anonymous == False %}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Update Profile</h1>
            <form action="{% url 'todolist:update_profile' user_id=user_id %}" method="post">
                <!-- This template tag provides protection against Cross Site Request Forgeries (CSRF) -->
                <!-- CSRF occurs when a malicious website contains a link, a form button or some JavaScript that is intended to perform some action our website, using the credentials of a logged-in user -->
                {% csrf_token %}

                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name:</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{first_name}}" maxlength="100" required>
                </div>

                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name:</label>
                    <input class="form-control" id="last_name" name="last_name" value="{{last_name}}" required></input>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" value="{{password}}" ></input>
                </div>

                <div class="mb-3">					
                    <input class="btn btn-success" type="submit" value="Update Profile">
                </div>

            </form>
        </div>
    </div>
</div>


{% else %}

<h1 class="tex-center my-3">You are not authorized to access this page.</h1>
<p class="">Kindly login <a href="{% url 'todolist:login' %}">here</a></p>

{% endif %}


{% endblock %}